<h1>Random Results</h1>
<div>Minimum</div>
<div><%= @user_min.to_fs%></div>
<div>Maximum</div>
<div><%= @user_max.to_fs%></div>
<div>Random Number</div>
<div><%= @random_result.to_fs%></div>

<a href = "/random/new">Pick another random number</a>
