<h1>Square Root Results</h1>
<div>Number</div>
<div><%= @user_number.to_fs%></div>
<div>Square Root</div>
<div><%= @square_root.to_fs%></div>
<a href = "/square_root/new">Calculate another square root</a>
